*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
header{
	width: 100vw;
	display: flex;
	flex-direction: column;
	padding: 8px;
	top: 0;
	align-items: center;
	justify-content: center;
}
header, footer{
	flex: 1;
}
.lang{
   color: #737373;
   position: absolute;
   top: 1vh;
   font-size: clamp(10px, 2.2vw, 14px);
   border: none;
   background-color: transparent;
}
.instagram{
	width: clamp(100px, 42vw, 220px);
}
form{
	flex: 2;
	display: flex;
	flex-direction: column;
	width: clamp(190px, 60vw, 380px);
	align-items: center;
	padding: 8px;
	gap: 1px;
	min-height: 230px;
	max-height: 320px;
	justify-content: space-evenly;
}
.facebook{
    background-color: #0195F7;
}
.sign-in{
    background-color: #4BB4F8;
}
.sign-in, .facebook{
	color: #F0FFFF;
	padding: 10px;
	border-radius: 10px;
	font-weight: 600;
	border: none;
}
input{
	width: 100%;
    padding: 10px;
    background: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
.o{
    color: #737373;
}
a{
    color: #178EDE;
}
a, p{
	font-family: sans-serif;
}
.sign-up{
    color: #737373;
}
.sign-up, a{
	font-size: clamp(11px, 3vw, 14px);
}
.meta{
	width: clamp(50px, 22vw, 100px);
}
footer{
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
	width: 100vw;
	bottom: 0;
}
@media(min-width: calc(100vh)){
	.lang{
		display: none;
	}
}
